*{
  margin: 0;
  padding: 0;
}

.sidebar {
  position: fixed;
  top: 82px;; 
  left: 0;
  height: calc(100vh - 70px); 
  width: 300px;
  background-color: white;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.05);
  padding: 20px;
  overflow-y: auto;
  transition: all 0.3s ease;
  z-index: 1000;
}

.main-content {
  margin-left: 250px;
  margin-top: 500px; 
  /* padding: 30px; */
  transition: margin-left 0.3s ease;
}




.course-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.course-card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(0, 123, 255, 0.2);
}

.course-card:hover .add-to-cart-btn {
  background-color: #0d6efd;
  color: #fff;
  border-color: #0d6efd;
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.two-line-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}





/*--------------------------------------------------------------
  # Global Footer
  --------------------------------------------------------------*/


  .footer {
    color: #ffffff; 
    background-color: #121212; 
    font-size: 14px;
    position: relative;
  }
  
  .footer .footer-top {
    padding-top: 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
  }
  
  .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
  }
  
  .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
  
  .footer .footer-about .logo span {
    color: #00bfff; 
    font-family: Arial, sans-serif; 
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .footer .footer-about p {
    font-size: 14px;
    font-family: Arial, sans-serif; /
  }
  
  .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5); 
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
  }
  
  .footer .social-links a:hover {
    color: #00bfff; 
    border-color: #00bfff; 
    text-decoration: none;

  }
  
  .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
  
  .footer .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
  
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-links ul a {
    color: rgba(255, 255, 255, 0.6); 
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-links ul a:hover {
    color: #00bfff;
  }
  
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
  
  .footer .copyright {
    padding: 25px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
  }
  
  .footer .copyright p {
    margin-bottom: 0;
  }
  
  .footer .credits {
    margin-top: 8px;
    font-size: 13px;
  }
  


footer.dark-background a {
    text-decoration: none; 
    color: #d1d1d1; 
}


footer.dark-background a:hover {
    text-decoration: none; 
    color: #bb86fc; 
}

footer.dark-background a:hover {
    text-decoration: none; 
    color: #ffffff; 
}














